//Mixin pour la média-queries de la version desktop
@mixin responsive-desktop {
    @media screen and (min-width : $break-desktop){
        @content;
        .card {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            // max-width: 300px;
            // height: 300px;
        }
    }
}
