//Style commun à tous les éléments
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
//mobile style
body{
  main{
    .main_head{
      @include responsive-desktop {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://thumbs.dreamstime.com/b/fond-de-nourriture-d-alimentation-%C3%A9quilibr%C3%A9e-121937194.jpg);
        background-position: center;
        background-size: cover;
      }
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://thumbs.dreamstime.com/b/fond-de-nourriture-d-alimentation-%C3%A9quilibr%C3%A9e-121937194.jpg);
        background-position: center;
        background-size: cover;      
        background-color: rgb(222, 217, 223);
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". h1 ."
          "p p p"; 
      h1 { 
        grid-area: h1;
        height: 5;
        display: flex;
        text-align: center, ;
        font-size: x-large;
        font-family: 'Asap', sans-serif;
        font-weight: bold;
        padding-top: 33%;
        color: rgb(255, 255, 255);
        @include responsive-desktop{
          grid-area: h1;
          font-family: 'Josefine Sans', sans-serif;
          display: flex;
          font-weight: bolder;
          text-align: center;
          font-size: 50px;
          font-weight: bolder;
          margin-bottom: 33%;
        }
        }
      .main_head_description {
        grid-area: p;
        font-family: 'Asap', sans-serif;
        padding-top: 15px;
        text-align: center;
        color: rgb(255, 255, 255);
        @include responsive-desktop{
          grid-area: p;
          color: rgb(0, 0, 0);
          background-color: rgb(250, 250, 250);
          text-align: center;
          font-size: x-large;
          font-family: 'Raleway', sans-serif;
          line-height: 40px;
          border-radius: 15%;
          padding-right: 25px;
          padding-left: 25px;
          margin-top: 25px;
          margin-right: 50px;
          margin-left: 50px;
          margin-bottom: 300px;
        }
      }
    }
  }
}

// @media only screen and (min-width: 600px){
//   body {
//       .main_head {  
//           display: grid;
//           grid-template-columns: 1fr 1fr 1fr;
//           grid-template-rows: 1fr 1fr 1fr;
//           gap: 0px 0px;
//           grid-auto-flow: row;
//           grid-template-areas:
//           "h1 h1 h1"
//           "p p p"
//           ". . .";
          
          
//           p {
//             grid-area: p;
//             color: rgb(29, 23, 27);
//             text-align: justify;
//             font-size: x-large;
//             font-family: Asap, sans-serif;
//             line-height: 40px;
//           }
          
//           h1 {
//             grid-area: h1;
//             font-family: 'Raleway', sans-serif;
//             color: rgb(57, 59, 61);
//             display: flex;
//             text-align: center;
//             font-size: xx-large;
//             font-weight: bolder;
//           }
//       }
//   }
// }
