//Style commun à tous les éléments
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
//mobile style
body{

    .main_head{
        background-color: rgb(227, 169, 233);
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "h1 img img"
          "p img img"
          "p autre autre"; 
      }
      h1 { grid-area: h1;
            display: flex;
            text-align: center;
            font-weight: bold;
            padding-top: 33%;
            color: rgb(155, 59, 158);
        }
      p {
        grid-area: p;
        padding-left: 15px;
        padding-bottom: 10px;
        text-align: left;
        color: rgb(80, 16, 66);
      }
      img {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          ". . ."
          ". . ."
          ". . ."; 
        grid-area: img; 
        width: 225px;
        padding: 33px;

      }
      .autre { grid-area: autre; }
    
//     main{
//         .main_head{
//             background-color: rgb(227, 169, 233);
//             display: grid; 
//             grid-template-columns: 1fr, 1fr, 1fr; 
//             grid-template-rows: 1fr, 1fr, 1fr; 
//             gap: 0px 0px; 
//             grid-template-areas: 
//                 ". . ."
//                 ". . ."
//                 ". . ."; 
//             h1{
//                 grid-column-start: 1;
//                 grid-column-end: 1;
//                 grid-row-start: 1;
//                 grid-row-end: 1;
//                 justify-content: center;
//                 text-align: justify;
//                 line-height: 20px;
//                 font-size: 25px;
//                 font-weight: bold;
//                 padding-top: 25px;
//                 color: rgb(155, 59, 158);
//             }
//             .main_head_description{
//                 grid-column-start: 1;
//                 grid-column-end: 1;
//                 grid-row-start: 2;
//                 grid-row-end: 3;
//                 line-height: 25px;
//                 color: rgb(80, 16, 66);
//             }
//             img{
//                 max-width: 150px;
//                 margin: 75px;
//                 grid-column-start: 2;
//                 grid-row-start: 1;
//                 grid-row-end: 2;
//             }
//         }
//     }
}


